<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Ambab\BankDiscount\Api\CustombankDiscountRepositoryInterface" type="Ambab\BankDiscount\Model\CustombankDiscountRepository" />
	<preference for="Ambab\BankDiscount\Api\ValidateAddressRepositoryInterface" type="Ambab\BankDiscount\Model\ValidateAddressRepository" />
	<preference for="Ambab\BankDiscount\Api\CreateOrderRepositoryInterface" type="Ambab\BankDiscount\Model\CreateOrderRepository" />
</config>
